body {
	background-color: #0c0c0c;
	color: #cccccc;
	font-family: roboto;
}

table {
	margin: auto;
	text-align: center;
}

td {
	padding: 10px 5px 0 0;
}

h1 {
	font-size:48px;
}

h2 {
	margin: 0;
	text-align: right;
}

h3 {
	margin: 0;
	padding: 0 0 2% 0;
	text-align: left;
	color: #cccccc;
}

p {
	margin: 0;
	text-align:left;
}

#contact {
	margin: 1% auto;
	text-align:center;
}

#contactH1 {
	border-bottom: 1px solid #cccccc;
	text-align: center;
	margin: 1% 25%;
	padding: 1% 0;
}

.center-text {
	text-align: center;
	margin: auto;
	padding: 1% 0;
}

#projectsHead {
	border-bottom: 1px solid #cccccc;	
	margin: 1% 25%;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	margin: 1% 12%;	
	gap:1em;
}

.grid-container > div {
	background-color: #000000; 
	padding: 1.5em;
	text-align: center;
}

.grid-container > div > img {
	display: inline-grid;
	align-items: center;
	justify-content: center;
}

.grid-container > div > p {
	display: inline-grid;
	text-align: justify;
	color: #cccccc;
	border:1px solid blue;	
	font-size: 16px;
}

.flex-container {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

.flex-container > div {
	background-color: red;
	width: auto;
	margin: auto;
	text-align: center;
	line-height:75px;
}

.card {
	box-shadow: 0em 0em 1em 0 rgba(0,0,0,1);
	transition: 0.1s;
	border: 1px solid #cccccc;
	border-radius: 1em;
}

.card:hover {
	box-shadow: 0.1em 0.1em 1em 0 #c0c0c0;
}

.container {
	padding: auto;
	color: black;
	text-align: justify;
}

.container > p {
	font-size: 1em;
	text-align: justify;
	color: rgba(204, 204, 204, 0.6);
}

.tag-line-container-head {
	border-bottom: 1px solid #cccccc;
	margin: 1% 25%;
	color: #cccccc;
	text-align: center;
}

.tag-line-content {
	margin: 1% 25%;
	text-align: left;	
	padding: 1em;
	border: 0.01em solid #cccccc;
	border-radius: 1em;
	background-color: black;
}

.tag-line-content > h2 {
	text-align: left;
	font-size: 3.4em;
}

.skill-head {
	border-bottom: 1px solid #cccccc;
	margin: 1% 25%;
}

.skill-table {
	margin: 0% 25%;
}
.skill-table-table {
	text-align:center;
}

.skill-table-table > tbody > tr > th {
	padding: 1em;
	text-align: center;
	border: 1px solid white;
	border-radius: 1em;
}

.skill-table-table > tbody > tr > td {
	padding: 1em;
	text-align: left;
	border: 1px solid white;
	border-radius: 1em;
}

th {
	padding: 1em;
	text-align: center;
	border: 1px solid white;
	border-radius: 1em;
	font-size: 20px;
}

.contact-table-content table > tr > td {
}

.me-head {
	border-bottom: 1px solid #cccccc;
	margin: 1% 25%;
}

.me-content {
	display: flex;
	margin: 1% 25%;
	width: auto;
	justify-content: center;
	position: relative;
}

.me-img {
	margin: auto;
	width: 80%;
}

.me-text {
	position: absolute;
	bottom: 0;
	background: rgb(0,0,0);
	background-color: rgba(0,0,0,0.5);
	color: #cccccc;	
	width: 80%;
	padding:0 0 1em 0;
}

.me-text-h1 {
	margin: 0;
	font-size: 24px;
}

@media only screen and (max-width: 430px) {
	.tag-line-container-head {}

	.tag-line-content {
		margin: 10%;
		padding: 1em;
		border-radius: 1em;
		font-size: 0.83em;
	}

	.grid-container {
		display: block;
		margin: 5% 10%;
	}

	.card {
		background-color: black;
	}
	
	div.card {
		margin: 5% 0%;
		box-shadow: 0em 0em 1em 0 rgb(0 0 0);
		transition: 0.1s;
		display: flex;
		padding: 0.5em;
	}

	.card-image {
		margin: 0 2% 0 0;
		width: 10em;
		height: 6em;
	}

	.container {
		font-size: 0.7em;
	}

	.me-content {
		margin: 1% 5%;
	}

	.me-img {
		height: 30em;
	}
	

}

